<h1>Widget: <%= @widget.name %></h1>

<%= widget_chart(@widget) %>

<%#*<div id='chart'></div>%>
<%#= render_chart ScatterGraph.new(@widget).chart, 'chart' %>

<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>



