<h1><%= @dashboard.title %></h2>


<div>
  <%= @dashboard.description %>
</div>

<div class="widgets">
  <% @dashboard.widgets.each do |widget| %>
    <div class="widget">
      <%= link_to widget_chart(widget), widget_path(widget) %>
    </div>
  <% end %>
</div>

<%= link_to 'Edit', edit_dashboard_path(@dashboard), class: 'btn btn-warning' %>
