body{
  font-family:Verdana, Geneva, sans-serif
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: #E0B2B2;
  display: table;
}

label {
  display: block;
}

input[type="checkbox"] + label {
  display: inline;
  margin-left: 0.5em;
}

.check_boxes .checkbox {
  display: block;
}

div.input {
  margin: 1em 0 0.5em 0;
}

.form_block {
  display: inline-block;
  margin: 0 20px 10px 0;
  vertical-align: text-top;
  width: 400px;
  
    input[type="text"], textarea {
      width: 95%;
    }
}

.nav ul {
  list-style-type:none;
  margin:0;
  padding:0;
  
  li {
    display:inline;
  }
}

div.login {
  float: right;
}

