    <div class="nav">
      <ul class="inline">
        <li><%= link_to_unless_current 'Dashboards', dashboards_path %></li>
        <li><%= link_to_unless_current 'Widgets', widgets_path %></li>
        <li><%= link_to_unless_current 'Users', users_path %></li>
      </ul>
    </div>
